/* CSS Document */

div.del_imagegallery {
    font-size: 9px;
    text-align: center;
    background: #444444;
    color: whitesmoke;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    right: -5px;
    top: -5px;
}
#itls_preview{
    padding: 0;
    margin: 10px;
}
#itls_preview >* {
    margin: 0;
}
#itls_preview >div{
    width: 90%;
    margin: 10px auto;
}
div#itls_logo_showcase_upload_imagegallery_items > div {
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
}
div#itls_logo_showcase_upload_imagegallery_items img {
    border: 2px solid #444;
}
